<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      .menu {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      form {
        display: flex;
        flex-direction: column;
      }

      input {
        margin: 20px;
      }

    </style>
    <title>Document</title>
  </head>
  <body>
    <div class='menu'>
      <form>
        Email:
        <input type="text">
        Password:
        <input type="password">
        <input type="submit" value="send">
      </form>
    </div>
  </body>
</html>